<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /dincertekin.com/
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ /dincertekin.com/index.php/$1 [L]
</IfModule>